<div id="<%= Category.last.id %>" class="">
<%= check_box_tag "video[category_ids][]", Category.last.id, @video.categories.include?(Category.last), {:id => dom_id(Category.last, dom_id(@video)) } %>
<%= Category.last.name %>
<%= link_to "x", Category.last, remote: true, method: :delete, data: {confirm: "Are you sure? Deleting this tags will permanently remove it from all posts."}  %>
</div>
