<iframe id="ytplayer" type="text/html" width="640" height="390" src="https://www.youtube.com/embed/<%= @video.ytlink %>" frameborder="0"></iframe>
<p><%= @video.title %></p>
<p><%= @video.description %></p>
<p> Categories:
<% if @video.categories.any? %>
  <%= @video.categories.map(&:name).join(' ') %>
<% else %>
  Uncategorized
<% end %>
</p>
