
<% if @posts.any? %>
  <% @posts.each do |post| %>
    <h2><%= post.title %></h2>
    <%= link_to 'Review', post_path(post) %>
  <% end %>
<% else %>
  <p> Time to write your first post :D </p>
<% end %>

<a href='<%= new_post_path %>'>Create new post</a>
